{% extends 'base.html' %} {% block head %}
<title>ShakeMate | {{recipe["name"]}}'s Details</title>
<!-- <link
  rel="stylesheet"
  href="{{ url_for('recipes.static', filename='detailedRecipes.css')}}"
/> -->
<link rel="stylesheet" href="../static/detailedRecipes.css" />
{% endblock %} {% block body %}

<section class="detailed-page">
  <!--recipe-hero-->
  <img src= "{{ url_for('recipes.static', filename =
  recipe['id']|string+'.jpeg')}}" class="detailed-img" alt="picture of shake">
  <article>
    <h2>{{ recipe["name"] }}</h2>
  </article>
  <p>This shake contains : {{ recipe["calories"] }} calories.</p>
  <p>This shake contains: {{ recipe["fat"] }} grams of fat.</p>
  <p>This shake contains: {{ recipe["sugar"] }} grams of sugar.</p>
  <p>Enjoy!</p>
  <article class="servings-icon">
    <i class="fas fa-user-friends"></i>
    <h5>Servings</h5>
    <p>2 servings</p>
  </article>
</section>
{% endblock %}
