{% extends 'base.html' %} {% block head %}
<title>ShakeMate | {{recipe["name"]}}'s Details</title>
<!-- <link
  rel="stylesheet"
  href="{{ url_for('recipes.static', filename='detailedRecipes.css')}}"
/> -->
<link rel="stylesheet" href="../static/detailedRecipes.css" />
{% endblock %} {% block body %}

<div class="card text-center center" style="width: 20rem; margin-top: 50px; margin-bottom: 50px;">
  <img src="{{ url_for('recipes.static', filename =
  recipe["id"]|string+".jpeg")}}" class="card-img-top" alt="picture of {{ recipe['name'] }} shake">
  <div class="card-body">
    <h5 class="card-title">{{ recipe["name"] }}</h5>
    <p class="card-text center">This shake contains : {{ recipe["calories"] }} calories.</p>
  <p class="card-text center">This shake contains: {{ recipe["fat"] }} grams of fat.</p>
  <p class="card-text center">This shake contains: {{ recipe["sugar"] }} grams of sugar.</p>
  <p class="card-text center">Enjoy!</p>
  <article class="servings-icon">
    <i class="fas fa-user-friends"></i>
    <h5>Servings</h5>
    <p>2 servings</p>
  </article>
    <a href="/recipes" class="btn btn-primary">All Recipes</a>
  </div>
</div>

{% endblock %}
