{% extends 'base.html' %} {% block head %}
<title>ShakeMate | Recipes</title>
<link
  rel="stylesheet"
  href="{{ url_for('recipes.static', filename='recipes.css')}}"
/>
{% endblock %} {% block body %}

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Calories</th>
    <th>Fat</th>
    <th>Sugar</th>
    <th>Ingredient Name</th>
    <th>Favorite</th>
  </tr>
  {% for recipe in recipes_list %}
  <tr>
    <td>
      <img src= "{{ url_for('recipes.static', filename =
      recipe["id"]|string+".jpeg")}}" height="100">
    </td>
    <td>{{ recipe.name }}</td>
    <td>{{ recipe.calories }}</td>
    <td>{{ recipe.fat }}</td>
    <td>{{ recipe.sugar }}</td>.
    <td>{{ recipe.ingName }}</td>

    <!-- prints list of recipe objects at top of page
    {{ recipes_list[recipe.id - 1] }} -->

    {% if recipes_list[recipe.id - 1] not in favoriteList %} <!-- if recipe is not in favorites list -->
    <td>
      <form method='POST'>
        <input type="submit" name="recipe" value="{{ recipe.id }}">
      </form>
      <!-- <button form="favorites" type="submit" name="manageFavorite" value="{{ recipe['id'] }}" formmethod="POST"></button> -->
    </td>
    {% endif %}

    {% if recipes_list[recipe.id - 1] in favoriteList %} <!-- if recipe is in favorites list -->
    <td>
      <form method='POST'>
        <input type="submit" name="recipe" value="{{ recipe.id }}">
      </form>
      <!-- <button form="favorites" type="submit" name="manageFavorite" value="{{ recipe['id'] }}" formmethod="POST"></button> -->
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
