{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="{{ url_for('ingredients.static', filename='ingredientStyles.css') }}">
<script src="{{ url_for('ingredients.static', filename='ingredientScript.js') }}" defer></script>
<title>ShakeMate | Ingredient Selection</title>
{% endblock %} 

{% block body %}

<div class="grid">
    {% for ingredients in ingredientList %}
    <div class="grid-element"><img id="ingredients["name"]" src="{{ url_for('ingredients.static', filename=ingredients["name"]|string+".png") }}" draggable="true" ondragstart="drag(event)" style="width:100%"></div>
    {% endfor %}
</div>

<aside>
    <p><center><strong>Currently Selected:</strong></center></p>
    <div class="grid2" ondrop="drop(event)" ondragover="allowDrop(event)"></div> 
</aside>

{% endblock %}
