<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/NavBarStyle.css') }} type="text/css"/>

    <nav>
        <div class="logo">
            <p><a href="/" style="text-decoration: none; color: whitesmoke">ShakeMate</a></p>
        </div>
        <ul>
            <li><a href="/account">Account</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/ingredients">Ingredients</a></li>
            <li><a href={{ url_for('authentication.logout') }}>Logout</a></li>
        </ul>
    </nav>
    {% block head%}{% endblock %}
</head>
<body>
    <div class="NavBarPadding"></div>
    {% block body %}{% endblock %}
</body>
</html>