/* Detailed Recipe Pages */

.detailed-page {
    display: grid;
    gap: 3rem;
    justify-content: center;
}

.detailed-img {
    height: 250px;
    border-radius: 5em;
}

.servings-icon {
    display: grid;
    grid-template-columns: 1 fr;
    justify-content: center;
}

button.btn {
    color: #CCCC00;
}

table {
    width: 100%;
    padding: 5%;
}

th {
    font-size: larger;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #6dd5ed;
    color: white;
}

td {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

tr.table {
    transition: background-color 0.25s;
}

tr.headers {
    border-top: 1px solid whitesmoke;
}

tr.table:hover {
    background-color: #ddd;
}