.recipes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 10px;
}

/* tr th{
    padding-block: 5%;
    padding-left: 5%;
} */

button.btn {
    color: #CCCC00;
}

table {
    width: 100%;
    padding: 5%;
}

th {
    font-size: larger;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #6dd5ed;
    color: white;
}

td {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

tr.table {
    transition: background-color 0.25s;
}

tr.headers {
    border-top: 1px solid whitesmoke;
}

tr.table:hover {
    background-color: #ddd;
}