{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="{{ url_for('ingredients.static', filename='ingredientStyles.css') }}">
<title>ShakeMate | Ingredient Selection</title>
{% endblock %} 

{% block body %}
<nav id="top_nav">
    <ul>
        <li><h1><a href="/recipes">SHAKEMATE</a></h1></li>
        <li style="float:right"><form action="/recipes"><button type="submit">Recipes</button></form></li>
        <li style="float:right"><form action="/account"><button type="submit">Account</button></form></li>
    </ul>
</nav>

<div class="grid">
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing1.png') }}"><img src="{{ url_for('ingredients.static', filename='ing1.png') }}" style="width:100%"></a></div>
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing2.png') }}"><img src="{{ url_for('ingredients.static', filename='ing2.png') }}" style="width:100%"></a></div>
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing3.png') }}"><img src="{{ url_for('ingredients.static', filename='ing3.png') }}" style="width:100%"></a></div>
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing4.png') }}"><img src="{{ url_for('ingredients.static', filename='ing4.png') }}" style="width:100%"></a></div>
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing5.png') }}"><img src="{{ url_for('ingredients.static', filename='ing5.png') }}" style="width:100%"></a></div>
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing6.png') }}"><img src="{{ url_for('ingredients.static', filename='ing6.png') }}" style="width:100%"></a></div>
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing7.png') }}"><img src="{{ url_for('ingredients.static', filename='ing7.png') }}" style="width:100%"></a></div>
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing8.png') }}"><img src="{{ url_for('ingredients.static', filename='ing8.png') }}" style="width:100%"></a></div>
    <div class="grid-"><a href="{{ url_for('ingredients.static', filename='ing9.png') }}"><img src="{{ url_for('ingredients.static', filename='ing9.png') }}" style="width:100%"></a></div>
</div> 

<aside>
    <p><center><strong>Currently Selected:</strong></center></p>
    <div class="grid2">
        <div class="grid-"><img src="{{ url_for('ingredients.static', filename='ing4.png') }}" style="width:100%"></div>
        <div class="grid-"><img src="{{ url_for('ingredients.static', filename='ing3.png') }}" style="width:100%"></div>
        <div class="grid-"><img src="{{ url_for('ingredients.static', filename='ing9.png') }}" style="width:100%"></div>
        <div class="grid-"><img src="{{ url_for('ingredients.static', filename='ing8.png') }}" style="width:100%"></div>
    </div> 
</aside>

{% endblock %}
