{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="{{ url_for('ingredients.static', filename='ingredientStyles.css') }}">
<title>ShakeMate | Ingredient Selection</title>
{% endblock %} 

{% block body %}

<div class="grid">
    {% for ingredients in ingredientList %}
    <div class="grid-element"><a href="{{ url_for('ingredients.static', filename=ingredients["id"]|string+".png") }}"><img src="{{ url_for('ingredients.static', filename=ingredients["id"]|string+".png") }}" style="width:100%"></a></div>
    {% endfor %}
</div>

<aside>
    <p><center><strong>Currently Selected:</strong></center></p>
    <div class="grid2">
        <div class="grid-element"><img src="{{ url_for('ingredients.static', filename='4.png') }}" style="width:100%"></div>
        <div class="grid-element"><img src="{{ url_for('ingredients.static', filename='3.png') }}" style="width:100%"></div>
        <div class="grid-element"><img src="{{ url_for('ingredients.static', filename='9.png') }}" style="width:100%"></div>
        <div class="grid-element"><img src="{{ url_for('ingredients.static', filename='8.png') }}" style="width:100%"></div>
    </div> 
</aside>

{% endblock %}
